.container {
    width: 100%;
    overflow: hidden;}

    .box-left {
        width: 48%;
        height: 200px;
        background-color: red;
        float: left;
        margin-right: 4%;
      }
      
   .box-right {
        width: 48%;
        height: 200px;
        background-color: yellow;
        float: left;
      }
